.product-selector-item {
    cursor: default;

    .product-selector-item-name {
        padding: 0.25rem;
    }

    .product-selector-item-energy {
        color: $gray;
    }
}

.product-selector-item-selected {
    background: $selection-gray;
}