.section {
    $section-horizontal-padding: 1rem;

    .section-header {
        display: flex;
        align-items: flex-end;
        margin-top: 1rem;
        border-bottom: 1px solid $light-gray;
        padding-left: $section-horizontal-padding;
        padding-right: $section-horizontal-padding;
    }

    .section-title {
        flex-grow: 1;
    }

    .section-menu {
        flex-grow: 0;
        text-decoration: none;
        color: $blue;
        font-size: 0.875rem;
    }

    .section-content {
        padding: 1rem;
    }
}