.main-menu {
    margin-top: 4rem;

    .main-menu-entry {
        text-align: center;
        margin-top: 2rem;

        a {
            font-size: 1.25rem;
            text-decoration: none;
        }

        .main-menu-description {
            font-size: 0.875rem;
            color: $gray;
        }
    }
}