.message {
    $message-left-padding: 0.25rem;
    $message-right-padding: 0.25rem;
    $message-close-image-width: 2rem;

    width: calc(100% -
        #{$message-left-padding} -
        #{$message-right-padding});
    border-radius: 0.25rem;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    padding-left: $message-left-padding;
    padding-right: $message-right-padding;
    margin-bottom: 0.25rem;
    display: flex;
    align-items: center;

    .message-close-image {
        padding-right: 0.5rem;
        flex-grow: 0;
        flex-shrink: 0;
        width: 1rem;
        height: 1rem;
        opacity: 0.5;
        cursor: pointer;
    }

    .message-text {
        flex-grow: 1;
        flex-shrink: 0;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        cursor: pointer;
        width: calc(100% -
            #{$message-left-padding} -
            #{$message-right-padding} -
            #{$message-close-image-width});
    }
}

.message-info {
    color: #004085;
    background-color: #cce5ff;
    border: solid 1px #b8daff;

    .message-close-image {
        background: url(img/close-info.png) no-repeat;
        background-size: 0.75rem;
        background-position: center;
    }
}

.message-error {
    color: #721c24;
    background-color: #f8d7da;
    border: solid 1px #f5c6cb;

    .message-close-image {
        background: url(img/close-error.png) no-repeat;
        background-size: 0.75rem;
        background-position: center;
    }
}
