.meal {
    .meal-energy {
        padding-bottom: 0.25rem;
    }

    .meal-header {
        display: flex;
    }

    .meal-header-label {
        flex-grow: 1;
    }

    .meal-select-product {
        font-size: 0.875rem;
        cursor: pointer;
        padding-right: 0.25rem;
        color: $blue;
        flex-grow: 0;
        flex-shrink: 1;
        visibility: hidden;
    }

    .meal-select-product-mobile {
        visibility: visible;
    }

    .meal-areas {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .meal-ingredients {
        width: 100%;
        flex-grow: 1;
    }

    .meal-calculation {
        width: 100%;
        flex-grow: 1;
        padding-left: 0.5rem;
    }

    .meal-calculation-no-error {
        margin-top: 1rem;
    }
}

@include desktop() {
    .meal {
        .meal-areas {
            flex-direction: unset;
        }

        .meal-ingredients {
            margin-right: 0.5rem;
        }

        .meal-calculation {
            margin-left: 0.5rem;
        }

        .meal-calculation-no-error {
            margin-top: 0;
        }    
    }
}
